<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fitness</title>
   </head>
   <div id="preloader">
      <div class="loader">
         <img src="images/loader.gif" alt="#" />
      </div>
   </div>
   <!-- END LOADER -->
   <div class="wrapper">
      <nav id="sidebar">
         <div class="menu_section">
            <ul>
               <li><a href="'/homepage'">Home</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="services.html">Services</a></li>
               <li><a href="contact">Contact us</a></li>
               <li><a href="exercises">Exercise</a></li>
               <li><a href="bmiinput/">Health Stats</a></li>
               <li><a id="logout" href="">Logout</a></li>
               {{!-- <button id="logout">Logout</button> --}}

            </ul>
         </div>
      </nav>
      <div id="content">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <a href="/homepage"><img src="/images/Color logo - no background.png" /></a>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img
                           src="/images/menu_icon.png"></button>
                  </div>
               </div>
            </div>
         </header>

         <body>
            <div id="bmi-page">
               <div id="heading" style="margin-top: 40px;">
                  <h1 class="is-size-1" id="BMI-header">BMI Calculator</h1>
                  <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                     Calculate your body mass index with your age, weight and height!</p>
                  <hr>
               </div>
               <form class='bmiInput'>
                  <label for='age'>
                     Age:
                  </label>
                  <br />
                  <input id='age' name='age' rows='2' cols='30'>
                  {{age}}
                  </input>
                  <br />
                  <label for='height'>
                     Height inches:
                  </label>
                  <br />
                  <input id='height' name='height' rows='5' cols='30'>
                  {{height}}
                  </input>
                  <br />
                  <label for='weight'>
                     Weight lbs:
                  </label>
                  <br />
                  <input id='weight' name='weight' rows='2' cols='30'>
                  {{weight}}
                  </input>
                  <br />
                  <button type='submit' value='Submit'>
                     Submit
                  </button>
               </form>
</div>
<div id="orm-page">
               <div id="heading" style="margin-top: 40px;">
                  <h1 class="is-size-1" id="orm-header">One Rep Max Calculator</h1>
                  <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                     Calculate your one rep max with your current set!</p>
                  <hr>
               </div>
               <form class='ormInput'>
                  <br />
                  <label for='weight2'>
                     weight:
                  </label>
                  <br />
                  <input id='weight2' name='weight2' rows='5' cols='30'>
                  {{weight2}}
                  </input>
                  <br />
                  <label for='reps'>
                     reps:
                  </label>
                  <br />
                  <input id='reps' name='reps' rows='2' cols='30'>
                  {{reps}}
                  </input>
                  <br />
                  <button type='submit' value='Submit'>
                     Submit
                  </button>
               </form>
</div>
<div id="bmr-page">
               <div id="heading" style="margin-top: 40px;">
                  <h1 class="is-size-1" id="orm-header">Basal Metabolic Rate Calculator</h1>
                  <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                     Calculate your basal metabolic rate!</p>
                  <hr>
               </div>
               <form class='bmrInput'>
                  <br />
                  <label for='height2'>
                     height:
                  </label>
                  <br />
                  <input id='height2' name='height2' rows='5' cols='30'>
                  {{height2}}
                  </input>
                  <br />
                  <label for='weight3'>
                     weight:
                  </label>
                  <br />
                  <input id='weight3' name='weight3' rows='5' cols='30'>
                  {{weight3}}
                  </input>
                  <br />
                  <label for='age2'>
                     age:
                  </label>
                  <br />
                  <input id='age2' name='age2' rows='2' cols='30'>
                  {{age2}}
                  </input>
                  <br />
                  <button type='submit' value='Submit'>
                     Submit
                  </button>
               </form>
</div>
<div id="ibw-page">
               <div id="heading" style="margin-top: 40px;">
                  <h1 class="is-size-1" id="orm-header">Ideal Body Weight Calculator</h1>
                  <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                     Calculate your ideal body weight based on your height and age!</p>
                  <hr>
               </div>
               <form class='ibwInput'>
                  <br />
                  <label for='age3'>
                     age:
                  </label>
                  <br />
                  <input id='age3' name='age3' rows='5' cols='30'>
                  {{age3}}
                  </input>
                  <br />
                  <label for='height3'>
                     height:
                  </label>
                  <br />
                  <input id='height3' name='height3' rows='2' cols='30'>
                  {{height3}}
                  </input>
                  <br />
                  <button type='submit' value='Submit'>
                     Submit
                  </button>
               </form>
</div>
               <script src="/js/calculators/bmi.js"></script>

</html>