<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fitness</title>
   </head>
   <div id="preloader">
      <div class="loader">
         <img src="images/loader.gif" alt="#" />
      </div>
   </div>
   <!-- END LOADER -->
   <div class="wrapper">
      <nav id="sidebar">
         <div class="menu_section">
            <ul>
               <li><a href="/homepage">Home</a></li>
            <li><a href="/homepage#readMoreSection">About</a></li>
            <li><a href="/homepage#about_section">Services</a></li>
            <li><a href="/homepage#contactForm">Contact us</a></li>
            <li><a href="/mealplan">Meal Plan</a></li>
            <li><a href="/exercisemain">Exercise</a></li>
            <li><a href="/bmiinput">Health Stats</a></li>
            <li><a href="/water">Water Tracker</a></li>
            <li><a id="logout" href="">Logout</a></li>
               {{!-- <button id="logout">Logout</button> --}}
            </ul>
         </div>
      </nav>
      <div id="bmi-wrap">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <a href="/homepage"><img src="/images/Color logo - no background.png" /></a>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img
                           src="/images/menu_icon.png"></button>
                  </div>
               </div>
            </div>
         </header>

      <main id="bmiCont">

         <body id="bmi-cont">
            <div id="bmi-cont">
               <div id="bmi-page" class="health-card">
                  <div id="heading" style="margin-top: 40px;">
                     <h1 class="is-size-1" id="BMI-header">Body Measurements</h1>
                     <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                        Input your age, weight, and height</p>
                  </div>
                  <form class='bmiInputs'>
                     <input placeholder="Age" id='age' name='age' rows='2' cols='30'>
                     {{age}}
                     </input>
                     <select id='gender' name='gender' rows='2' cols='30'>
                        <option value="male" selected>Male</option>
                        <option value="female">Female</option>
                        {{gender}}
                     </select>
                     </input>
                     <input placeholder="Height (inches)" id='height' name='height' rows='5' cols='30'>
                     {{height}}
                     </input>
                     <input placeholder="Weight (lbs)" id='weight' name='weight' rows='2' cols='30'>
                     {{weight}}
                     </input>
                     <input placeholder="Neck (inches)" id='neck' name='neck' rows='2' cols='30'>
                     {{neck}}
                     </input>
                     <input placeholder="Waist (inches)" id='waist' name='waist' rows='2' cols='30'>
                     {{waist}}
                     </input>
                     <input placeholder="Hips (inches)" id='hip' name='hip' rows='2' cols='30'>
                     {{hip}}
                     </input>
                     <select id='activitylevel' name='activitylevel' rows='2' cols='30'>
                        <option value="level_1" selected>Sedentary: little or no exercise</option>
                        <option value="level_2">Exercise 1-3 times/week</option>
                        <option value="level_3">Exercise 4-5 times/week</option>
                        <option value="level_4">Daily exercise or intense exercise 3-4 times/week</option>
                        <option value="level_5">Intense exercise 6-7 times/week</option>
                        <option value="level_6">Very intense exercise daily, or physical job</option>
                        {{activitylevel}}
                     </select>
                     <select id='goals' name='goals' rows='2' cols='30'>
                        <option value="maintain" selected>Maintain weight</option>
                        <option value="mildlose">Mild weight loss</option>
                        <option value="weightlose">Weight loss</option>
                        <option value="extremelose">Extreme weight loss</option>
                        <option value="mildgain">Mild weight gain</option>
                        <option value="weightgain">Weight gain</option>
                        <option value="extremegain">Extreme weight gain</option>
                        {{goals}}
                     </select>
                     <button type='submit' value='Submit'>
                        Submit
                     </button>
                  </form>
               </div>
         </body>
      </main>
      <footer>
                 <p class="docWarning"> The information on this page is strictly for estimate purposes only and is not intended as a substitute for professional medical advice. Following our tool is at your own discretion and we are not liable for any changes or medical issues that may arise after using it.

It is highly recommended that you speak to your doctor before making any drastic changes to your diet and activity levels. When speaking with a doctor, it's important to express your concerns about your overall health and wellness. Before starting a new exercise plan or diet, it's crucial to talk to your doctor. Ask the doctor to explain your body fat percentage and recommended caloric intake based on your age, height, and weight. Request clarification on how to maintain a healthy body fat percentage through diet and ask for specific tips, such as recommended foods and portion sizes, or general advice on making healthy food choices. It's also important to discuss your exercise plan with your doctor to ensure it is safe and appropriate for your health needs. Thank the doctor for their time and support, and inquire if there's anything else you should be aware of regarding your health and wellness. </p>
      </footer>
         <script src="/js/calculators/bmi.js"></script>
         <script src="/js/logout.js"></script>

</html>