<section class="painting">
  <div class="painting-details">
    <h3>{{exercises.name}}</h3>
    <img src="{{exercises.gifUrl}}" alt="{{exercises.name}}">
    <p>This exercise needs the following equipment: {{exercises.equipment}}</p>
    <p>This exercise targets the following area: {{exercises.target}}</p>
    {{!-- <p>Exhibition open until: {{ format_date exercises.exhibition_date}}</p> --}}
  </div>
</section>