<section class="painting">
  <img src="/images/{{exercises.filename}}" alt="{{exercises.description}}">
  <div class="painting-details">
    <h3>{{exercises.title}}</h3>
    <p>By: {{exercises.artist}}</p>
    <p>Exhibition open until: {{ format_date exercises.exhibition_date}}</p>
  </div>
</section>