
   <div id="preloader">
      <div class="loader">
         <img src="images/loader.gif" alt="#" />
      </div>
   </div>
   <!-- END LOADER -->
   <div class="wrapper">
      <nav id="sidebar">
         <div class="menu_section">
            <ul>
               <li><a href="/homepage">Home</a></li>
            <li><a href="/homepage#readMoreSection">About</a></li>
            <li><a href="/homepage#about_section">Services</a></li>
            <li><a href="/homepage#contactForm">Contact us</a></li>
            <li><a href="/mealplan">Meal Plan</a></li>
            <li><a href="/exercisemain">Exercise</a></li>
            <li><a href="/bmiinput">Health Stats</a></li>
            <li><a href="/water">Water Tracker</a></li>
            <li><a id="logout" href="">Logout</a></li>
               {{!-- <button id="logout">Logout</button> --}}
            </ul>
         </div>
      </nav>
      <div id="bmi-wrap">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <a href="/homepage"><img src="/images/Color logo - no background.png" /></a>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img
                           src="/images/menu_icon.png"></button>
                  </div>
               </div>
            </div>
         </header>
      <main id="mainCont">
            <div>
               <div id="" class="health-card mealform">
                  <div id="heading" style="margin-top: 40px;">
                     <h1 class="is-size-1" id="BMI-header">Meal Plan Generator</h1>
                     <p class="is-size-4 has-text-weight-light firstPara" id="BMI-para">
                        Let's get a meal plan setup!</p>
                  </div>
                  <form class='mealplan'>
                     <input placeholder="v     Would you like to plan for a week or a day?     v" readonly id='timein' name='timein' rows='2' cols='30'>
                     {{time}}
                     </input>
                     <select id='time' name='time' rows='2' cols='30'>
                        <option value="Day" selected>Day</option>
                        <option value="Week">Week</option>
                        {{time}}
                     </select> 
                     <input placeholder="How many Calories do you need?"  id='calories' name='calories' rows='5' cols='30'>
                     {{calories}}
                     </input>
                     <input placeholder="v     Do you have a type of diet you follow?     v" readonly id='dietin' name='dietin' rows='2' cols='30'>
                     {{diet}}
                     </input>
                     <select id='diet' name='diet' rows='2' cols='30'>
                        <option value="none" selected>None</option>
                        <option value="vegan">Vegan</option>
                        <option value="vegetarian">Vegetarian</option>
                        <option value="pescetarian">Pescetarian</option>
                        <option value="gluten%20free" selected>Gluten free</option>
                        <option value="grain%20free">Grain free</option>
                        <option value="dairy%20free">Dairy free</option>
                        <option value="paleo">Paleo</option>
                        <option value="high%20protein">High protein</option>
                        <option value="low%20sodium">Low sodium</option>
                        <option value="low%20carb">Low carb</option>
                        <option value="Primal">Primal</option>
                        <option value="ketogenic">ketogenic</option>
                        {{time}}
                     </select> 
                     <input placeholder="Do you have any type of exclusions for your meals?"  id='exclusion' name='exclusion' rows='2' cols='30'>
                     {{exclusion}}
                     </input>
                     <button id="mealbtn" classtype='submit' value='Submit'>
                        Submit
                     </button>
                  </form>
               </div>
               <footer>
                  <p class="docWarning"> The information on this page is strictly for estimate purposes only and is not intended as a substitute for professional medical advice. Following our tool is at your own discretion and we are not liable for any changes or medical issues that may arise after using it.

It is highly recommended that you speak to your doctor before making any drastic changes to your diet and activity levels. When speaking with a doctor, it's important to express your concerns about your overall health and wellness. Before starting a new exercise plan or diet, it's crucial to talk to your doctor. Ask the doctor to explain your body fat percentage and recommended caloric intake based on your age, height, and weight. Request clarification on how to maintain a healthy body fat percentage through diet and ask for specific tips, such as recommended foods and portion sizes, or general advice on making healthy food choices. It's also important to discuss your exercise plan with your doctor to ensure it is safe and appropriate for your health needs. Thank the doctor for their time and support, and inquire if there's anything else you should be aware of regarding your health and wellness. </p>
               </footer>
         </main>
               <script src="/js/mealplan.js"></script>
               <script src="/js/logout.js"></script>
